<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '968858396533065',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
    {% include header.html %}
    <article class="group">
      {{ content }}
      <p>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="nselby">Tweet This Article</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>

</p>
    {% include disqus.html %}
    </article>
   
    {% include print-footer.html %}
    {% include footer.html %}
    <script id="dsq-count-scr" src="//nselby.disqus.com/count.js" async></script>
  </body>
</html>
